div.navigation a.prev {
	background-image: url(prevPageArrowWhite.gif);
}
div.navigation a.next {
	background-image: url(nextPageArrowWhite.gif);
}
div.loader {
	background-image: url(loaderWhite.gif);
}
div.slideshow img {
	border-color: #333;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
div.pagination a:hover {
	background-color: #111;
}
div.pagination span.current {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}